

/* COLORS */
[data-theme='minimal'] {
    --color-navyblue: #2b2d42; 
    --color-midgrey: #8d99ae; 
    --color-lightgrey: #edf2f4; 
    --color-brightred: #ef233c; 
    --color-darkred: #d90429; 
} 

body { 
    background: var(--color-midgrey);
}


/* HERO */
/* HERO */
/* HERO */


.hero-mesh { 
    background: url("https://e3.365dm.com/22/01/2048x1152/skynews-new-york-times-nyt_5658519.jpg?20220131222954");
    background-position: center;
    background-size: cover; 
}

.hero-title { 
    color: var(--color-lightgrey); 
    text-shadow: 2px 2px 10px var(--color-navyblue);
}

.hero-support { 
    color: white; 
    font-weight: 800; 
    text-shadow: 1px 1px 3px black; 
}   


/***NAVBAR***/
/***NAVBAR***/
/***NAVBAR***/
 .site-nav-brand { 
    color: var(---color-darkred);
 }

.is-nav-ready .site-nav.is-stuck {
    background: color-mix(in oklab, var(--color-navyblue) 88%, transparent);
    backdrop-filter: blur(10px);
}