.hero-mesh{ 
    background: url("https://images.squarespace-cdn.com/content/v1/6602dbdde680f5787204d9e8/37ff7c7e-e607-4bca-a9eb-6b0412e88079/NewYorkTimesGames.png")
    background-position: center;
    backgound-size: cover; 
}